compiler/bin/
Code/benchmarks/manual_arena_bench
/memories
*.o
Code/benchmarks/reduce_sum_u64_bench_O0
Code/benchmarks/reduce_sum_u64_bench_O2
Code/benchmarks/reduce_sum_u64_bench_O3
Code/test_programs/mutating_fuzzer_temp.llcontext
.*/ 
Code/zimdjson/
Code/benchmarks/tmp_zig_dom_input.json
Code/lua/
Code/llcontext_lua
.DS_Store
compiler/backend.test
compiler/src/backend/backend.test
compiler/src/backend/backend.test
compiler/src.test
compiler/packed_mlast_medium_current_clean.memprof
Nim-devel/
docs/useful_language_features/12-nim-orthogonal-language-and-compiler-ideas.md
