compiler/bin/
Code/benchmarks/manual_arena_bench
/memories
*.o
Code/benchmarks/reduce_sum_u64_bench_O0
Code/benchmarks/reduce_sum_u64_bench_O2
Code/benchmarks/reduce_sum_u64_bench_O3
Code/test_programs/mutating_fuzzer_temp.elisa
.*/ 
Code/zimdjson/
Code/benchmarks/tmp_zig_dom_input.json
Code/lua/
Code/elisacore_lua
.DS_Store
compiler/backend.test
compiler/src/backend/backend.test
compiler/src/backend/backend.test
compiler/src.test
compiler/packed_mlast_medium_current_clean.memprof
Code/v-master/
docs/useful_language_features/12-nim-orthogonal-language-and-compiler-ideas.md
docs/useful_language_features/13-v-orthogonal-language-and-compiler-ideas.md
compiler/.backend-test.log
compiler/.semantic-test.log
/compiler/scripts/__pycache__
Code/elisacore_atpl/
Code/elisacore_pascal/
Code/elisacore_sml/
bin/atpl
/compiler/cmd/atpl
compiler/elisacore-compiler
/compiler/temp_probe
/compiler/vendor
/Code/elisacore_ocaml
/Code/elisacore_python
/Code/elisacore_rust
/Code/elisacore_perl
/plans
/shadPS4
/Chocolate-Wolfenstein-3D
/elisa-wolf3d
/elisa-shad-ps4-from-scratch
