compiler/bin/
Code/benchmarks/manual_arena_bench
/memories
*.o
Code/benchmarks/reduce_sum_u64_bench_O0
Code/benchmarks/reduce_sum_u64_bench_O2
Code/benchmarks/reduce_sum_u64_bench_O3
Code/test_programs/mutating_fuzzer_temp.llcontext
.*/ 